@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom styles */
html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
